{% extends 'basic.html' %}
{% block title %}

PRO CODER

{% endblock title %}
{% block hero %}
<section id="welcome-hero" class="welcome-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="header-text">
                    <h2>hi <span>,</span> i am <br> VIKAS <br> Madhavan <span>.</span>   </h2>
                    <p>ui/ux designer and web developer</p>
                    
                </div><!--/.header-text-->
            </div><!--/.col-->
        </div><!-- /.row-->
    </div><!-- /.container-->

</section><!--/.welcome-hero-->
<!--welcome-hero end -->

{% endblock hero %}