{% extends 'basic.html' %}
{% block title %}
Sign-up
{% endblock title %}
{% block stylecss %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

{% endblock stylecss %}
{% block body %}
<section id="signup" class="signup">
    <div class="section-heading text-center">
        <h2>Sign Up</h2>
    </div>
    <div class="container">
        <div class="about-content">
            <div class="row">
                <div class="col-sm-6">
                    <div class="single-login-txt">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                    <h4 class="text-white bg-dark text-center p-3"> Sign Up Here </h4>
                                    <div class="card">
                                        <!-- Display messages (success or error) -->
                                        {% if messages %}
                                        <div class="alert alert-info">
                                            {% for message in messages %}
                                                <p>{{ message }}</p>
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                        <form action='/auth/signup/' method='post'>{% csrf_token %}

                                            <div class="form-group">
                                                <label for="email">Email</label>
                                                <input type="email" class="form-control" id="email" name="email" required>

                                            </div>
                                        
                                            <div class="form-group">
                                                <label for="password">Password</label>
                                                <input type="password" class="form-control" id="password" name="pass1" required>
                                              </div>
                                        
                                              <div class="form-group">
                                                <label for="confirm_password">Confirm Password</label>
                                                <input type="password" class="form-control" id="confirm_password" name="pass2" required>
                                              </div>
                                        
                                            <div class="d-grid gap-2">
                                                <button class="btn btn-primary" type="submit">Sign Up</button>
                                            </div>
                                        </form>
                                        
                                        <br>
                                        Already a User? <a href='/auth/login/'>Login</a>
                                    </div>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body%}